body {
    margin: 0;
}

.relative {
    position: relative;
    left: 30px;
}

.fixed {
    position: fixed;
    width: 50%;
    top: 98%;
    border: 1px solid gray;

}

.absolute {
    position: absolute;
    top: 80px;
    right: 0;
    width: 200px;
    border: 3px solid brown;
}

.relative-absolute {
    position: relative;
    width: 600px;
    height: 200px;
    border: 3px solid black;
}

.sticky {
    position: sticky;
    top: 0px;
    background-color: brown;
    padding: 30px;
    font-size: 30px;
}