.paragrafo {
color: blue;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: 30px;
text-transform: capitalize;
}

.lorem {
    color: red;
    text-transform: uppercase;
}